@import './\(layout\)/form/form.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    @apply bg-text;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-text/70;
  }
  body {
    @apply font-mont bg-darkBlue text-text;
  }
}

.box {
  @apply max-w-[1200px] mx-auto px-4;
}
